<html>
  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}">
  <meta name="description" content="{{ description }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ url }}{{ logo }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{{ favicon }}">
  <link href="/resources/css/main.css" media="all" rel="stylesheet" type="text/css">
  <link href="/resources/css/font-awesome.css" media="all" rel="stylesheet" type="text/css">
  <link href="/resources/css/gridlex.min.css" media="all" rel="stylesheet" type="text/css">
  <body>
      {{{ contents }}}
      {{> footer}}
      <script type="text/javascript" src="/resources/js/index.js"></script>
  </body>
</html>
