---
layout: default.hbs
---
<main role="main">

<section class="hero">
  <header>
    {{> logo }}
  </header>
  <h1 id="title" class="geut">
    GEUT <span class="studio">STUDIO</span>
  </h1>
  {{> menu }}
</section>

<section id="{{ mission.name }}" class="{{ mission.name }}">
  <div class="container">
    <header>
      <h2>{{ mission.subtitle }}</h2>
      <h1>{{ mission.title }}</h1>
    </header>

    <div class="grid-1-center">
      {{#each mission.texts}}
        <div class="col">
          <span class="thought">{{{ this }}}</span>
        </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="simple">
  <div class="container">
    <div class="grid-1-center">
      <div class="col-4_md-6_sm-12-center-middle">
        <img src="/resources/images/open-source-mini.png" alt="Open Source" class="img-responsive"/>
      </div>
      <div class="col-middle">
        <h2>We’re active advocates, users and contributors of Open Source technologies and practices.</h2>
      </div>
    </div>
  </div>
</section>

<section id="{{ about.name }}" class="{{ about.name }}">
  <div class="container">
    <header>
      <h2>{{ about.subtitle }}</h2>
      <h1>{{ about.title }}</h1>
    </header>

    {{> hexagrid/main team=about.team }}
  </div>
</section>

<section id="contact">
  <div class="container">
    <header>
      <h2>Get In Touch</h2>
      <h1>Contact Us</h1>
    </header>

    <div class="grid-1-center">
      <div class="col-6_sm-12-middle contact-form">
        <form class="grid-1" method="post">
          <div style="display: none;">
            <input type="text" id="honeypot" name="honeypot" value=""/>
          </div>

          <div class="col field">
            <input type="text" id="name" name="name" placeholder="name*" />
          </div>
          <div class="col field">
            <input type="text" id="email" name="email" placeholder="email*" />
          </div>
          <div class="col field">
            <input type="text" id="company" name="company" placeholder="company" />
          </div>
          <div class="col field">
            <textarea id="comment" name="comment" placeholder="comment*" rows="4"></textarea>
          </div>
          <div class="col">
            <button type="button" class="send btn btn--m btn--black">
              Send my <b>question</b>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

</main>
